<head>
  <link rel="stylesheet" href="/styles/dist/header.styles.css">
</head>

<header class="container__header">
  <a href="/products">

    <div>
      <i class="ph-fill ph-paw-print"></i>
    </div>
    <h1>Brand<span>Store</span></h1>
    </div>
    <nav>
      <ul>
        <li><a href="/products">Home</a></li>
        <li><a href="/admin">Admin <i class="ph-fill ph-caret-right"></i></a></li>
      </ul>
    </nav>
</header>