<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/dist/reset.css">
  <link rel="stylesheet" href="/styles/dist/login.styles.css">
  <script src="https://unpkg.com/@phosphor-icons/web" defer></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <title>BRANDSOTRE - Login</title>
</head>

<body>

  <main class="container__main">
    <header>
      <div>
        <i class="ph-fill ph-paw-print"></i>
      </div>
      <h1>Brand<span>Store</span></h1>
    </header>
    <form>
      <div class="form_col">
        <label for="">Email</label>
        <input type="email" placeholder="Digite seu email" />
      </div>
      <div class="form_col">
        <label for="">Password</label>
        <div>
          <input type="password" placeholder="Digite sua senha" />
        </div>
      </div>
      <button>
        Entrar
      </button>
    </form>
    <a href="/create">Ou crie uma <span>nova conta.</span></a>
  </main>

</body>

</html>