<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/dist/reset.css">
  <link rel="stylesheet" href="/styles/dist/new_product.styles.css">
  <script src="https://unpkg.com/@phosphor-icons/web" defer></script>
  <title>BRANDSOTRE | Novo Produto</title>
</head>

<body>
  {{template "header.tmpl"}}

  <main class="container__main">
    <header>
      <h2>Adicionar Produto</h2>
    </header>
    <form>
      <div>
        <div class="form__col">
          <label for="name">Nome do produto</label>
          <input type="text" id="name" name="name" placeholder="Digite o nome do produto" />
        </div>
        <div class="form__col">
          <label for="price">Preço</label>
          <input type="number" id="price" name="price" placeholder="Digite o preço do produto" />
        </div>
      </div>
      <div>
        <div class="form__col">
          <label for="image">Imagem de capa</label>
          <input type="file" id="image" name="image" />
        </div>
        <div class="form__col">
          <label for="quantity">Quantidade</label>
          <input type="number" id="quantity" name="quantity" placeholder="Digite a Quantidade do produto" />
        </div>
      </div>

      <div>
        <div class="form__col">
          <header>
            <label for="description">Descrição</label>
            <span>
              <span id="description_length">0</span>
              /250
            </span>
          </header>
          <textarea id="description" name="description" placeholder="Descrição do produto" maxlength="250"></textarea>
        </div>
      </div>

      <footer>
        <button type="submit">
          Adicionar
        </button>
      </footer>
    </form>
  </main>

  {{ template "footer.tmpl" }}

  <div class="toast" id="success" style="display: none;">
    <div class="toast__content">
      <span>Produto adicionado com sucesso</span>
    </div>
  </div>

  <div class="toast" id="loading" style="display: none;">
    <div class="toast__content">
      <span>Carregando...</span>
    </div>
  </div>


  <script>
    const toastSuccess = document.getElementById("success")
    const toastLoading = document.getElementById("loading")
    const form = document.querySelector("form");
    const description = document.querySelector("#description");
    const descriptionLength = document.querySelector("#description_length")
    const buttonSubmitCreateNewProductForm = document.querySelector('button[type=submit]')

    form.addEventListener("submit", async e => {
      e.preventDefault()


      const formData = new FormData(form)

      buttonSubmitCreateNewProductForm.setAttribute('disabled', true)

      toastLoading.style.display = "block";
      toastLoading.style.background = "#F6E05E";

      await fetch("/products", {
        method: "POST",
        body: formData
      })
      toastLoading.style.display = "none";
      form.reset()

      toastSuccess.style.display = "block"
      setTimeout(() => {
        toastSuccess.style.display = "none"
      }, 1000)
    })

    description.addEventListener("input", e => {
      const value = e.target.value.length

      descriptionLength.innerHTML = value

      changeColorOnDescriptionLength(value)

    })

    function changeColorOnDescriptionLength(length) {
      if (length < 200) {
        descriptionLength.style.color = "#00875f"
      }
      if (length >= 200) {
        descriptionLength.style.color = "#F6E05E"
      }

      if (length >= 250) {
        descriptionLength.style.color = "#f75a78"
      }
    }
  </script>
</body>

</html>