@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100&display=swap");
$darkGreen: #00875f;
$lightGreen: #00b37e;
$gray1: #121214;
$gray2: #202024;
$gray3: #323238;
$gray4: #7c7c8a;
$gray5: #8d8d99;
$gray6: #c4c4cc;
$gray7: #e1e1e6;
$white: #ffff;
$red: #f75a78;
$violet7: #6d28d9;
$violet6: #7c3aed;
$poppins: "Poppins", sans-serif;

$radiiNone: 0;
$radiiSm: 0.125rem;
$radii: 0.25rem;
$radiiMd: 0.375rem;
$radiiLg: 0.5rem;
$radiiXl: 0.75rem;
$radii2xl: 1rem;
$radii3xl: 1.5rem;
$radiiFull: 9999px;

@keyframes toast {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes spring {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@mixin toastAnimation {
  animation: toast 0.4s linear;
}

@mixin springAnimation {
  animation: spring 0.4s linear;
}
